.form {
    border: 1px solid black;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    color:black;
    font-weight: 500;
    min-width: 300px;
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
}
.input {
    width: 130px;
    color:aliceblue
}
.labelForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.btnSubmit {
    width: 140px;
    height: 40px;
     justify-content: center;
    align-items: center;
     margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.error {
    background-color: rgb(53, 10, 10);
    padding: 2px;
    color: red
}