.container {
    font-size: 40px;
    /* position: absolute;
    top: 1px; */
    border-bottom: 1px solid white;
    /* padding-left: 40px; */
   
}
/* .nav {
display: flex;
    gap: 25px;
} */
.active {
    color: white;
 background-color: black;
}
.active:hover {
    color: white;
}
.navList {
 display: flex;
    justify-content: space-between;
    gap: 20px;
}
.links {
    display: flex;
    gap:15px;
    flex-wrap: nowrap;
}
.link {
    font-size: 16px;
}
@media screen and (min-width: 768px) {
    .link {
    font-size: 30px;
}
.links {
    gap:50px;
}
}