.wrapper {
    display: flex;
    gap:10px;
}
.btnLogOut {
    height: 20px;
    width: 35px;
    margin: auto;
    font-size: 8px;
}
.username {
    
    margin: auto;
    font-size: 10px;
}
@media screen and (min-width: 768px) {
    .username {
    font-size: 30px;
}
.btnLogOut {
    width: 60px;
    font-size: 15px;
    height: 30px;
}
}
@media screen and (min-width: 1280px) {
    .btnLogOut {
        width: 73px;
    font-size: 20px;
    }
}